@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins&display=swap');

.sidebar {
  width: 250px;
  height: 100vh;
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.top, .bottom {
  display: flex;
  flex-direction: column;
}

.menu {
  width: 30px;
  height: 30px;
  margin-bottom: 20px;
}

.new-chat {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.new-chat img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.recent {
  margin-top: 20px;
}

.recent-title {
  font-weight: bold;
  margin-bottom: 10px;
}

.recent-entery {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.recent-entery img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.bottom-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.bottom-item img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.bottom-item p {
  margin: 0;
}